<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('.input-group.date').css('cursor', 'pointer');
        $('.input-group.date').datepicker({format:'dd/mm/yyyy'});
      });
    </script>
  </head>
  <body style="background-color: #ccc;">
    <div class="container" style="background-color: white; margin-top: 1em; border-radius: 25px;">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="h2" style="text-align: center; font-weight: bolder; color: #337ab7">M&eacute;tricas de SonarQube en Proyectos Daimler</div>
        </div>
      </div>
      <form method="POST">        
        <div class="row">     
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="project_id">Project</label>
              {% csrf_token %}
              <select name="project_id" class="form-control" required="true">
                <option value="">- Seleccionar -</option>
                {% for p in projects %}
                  {% if p.id == form.project_id %}
                    <option value="{{p.id}}" selected="selected">{{p.name}}</option>
                  {% else %}
                    <option value="{{p.id}}">{{p.name}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="date">Date (dd/mm/yyyy)</label>
              <div class="input-group date">
                <input name="date" type="text" step="1" required="true" class="form-control" value="{{date}}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="time">Time (hh:mm)</label>
              <input name="time" type="time" step="1" required="true" class="form-control" value="{{time}}" >
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="bugs">Bugs</label>
              <input name="bugs" type="number" step="1" required="true" class="form-control" value="{{bugs}}" />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="vulnerabilities">Vulnerabilities</label>
              <input name="vulnerabilities" type="number" step="1" required="true" class="form-control" value="{{vulnerabilities}}" />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="smells">Code Smells</label>
              <input name="smells" type="number" step="1" required="true" class="form-control" value="{{smells}}" />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="dup_blocks">Duplicate blocks</label>
              <input name="dup_blocks" type="number" step="1" required="true" class="form-control" value="{{dup_blocks}}"  />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="size">Size</label>
              <input name="size" type="number" step="1" required="true" class="form-control" value="{{size}}" />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-4">
              <label for="complexity">Complexity</label>
              <input name="complexity" type="number" step="1" required="true" class="form-control" value="{{complexity}}" />
            </div>                    
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-md-12 col-lg-12">            
            <input name="btn" type="submit" class="btn btn-primary" value="Save and add another" />
            <input name="btn" type="submit" class="btn btn-primary" value="Save" />
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; font-size: 11px;">&copy; 2017 Quality and Knowledge</div>
      </div>
    </div>
  </body>
</html>
