{% extends "viewer/base.html" %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('.input-group.date').css('cursor', 'pointer');
    $('.input-group.date').datepicker({format:'dd/mm/yyyy'});
  });
</script>
{% endblock %}

{% block content %}
<form method="POST">        
  <div class="row">     
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="project_id">Project</label>
        {% csrf_token %}
        <select name="project_id" class="form-control" required="true">
          <option value="">- Seleccionar -</option>
          {% for p in projects %}
            {% if p.id == form.project_id %}
              <option value="{{p.id}}" selected="selected">{{p.name}}</option>
            {% else %}
              <option value="{{p.id}}">{{p.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="date">Date (dd/mm/yyyy)</label>
        <div class="input-group date">
          <input name="date" type="text" step="1" required="true" class="form-control" value="{{date}}" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="time">Time (hh:mm)</label>
        <input name="time" type="time" step="1" required="true" class="form-control" value="{{time}}" >
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="bugs">Bugs</label>
        <input name="bugs" type="number" step="1" required="true" class="form-control" value="{{bugs}}" />
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="vulnerabilities">Vulnerabilities</label>
        <input name="vulnerabilities" type="number" step="1" required="true" class="form-control" value="{{vulnerabilities}}" />
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="smells">Code Smells</label>
        <input name="smells" type="number" step="1" required="true" class="form-control" value="{{smells}}" />
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="dup_blocks">Duplicate blocks</label>
        <input name="dup_blocks" type="number" step="1" required="true" class="form-control" value="{{dup_blocks}}"  />
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="size">Size</label>
        <input name="size" type="number" step="1" required="true" class="form-control" value="{{size}}" />
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4">
        <label for="complexity">Complexity</label>
        <input name="complexity" type="number" step="1" required="true" class="form-control" value="{{complexity}}" />
      </div>                    
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-md-12 col-lg-12">            
      <input name="btn" type="submit" class="btn btn-primary" value="Save" />
    </div>
  </div>
</form>
{% endblock %}