{% extends "viewer/base.html" %}

{% block script %}
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(drawBasic);
  google.charts.setOnLoadCallback(drawOcurrences);

  function drawBasic() {

        var data = google.visualization.arrayToDataTable([
          ['Proyecto', 'Tamaño', { role: 'style' }],
          {% for item in data %}
            ['{{item.project}}', {{item.value}}, '#337ab7']{% if not forloop.last %},{% endif %}
          {% endfor %}
          ]);

        var options = {
          title: 'Proyectos por líneas de código',
          chartArea: {width: '50%'},
          hAxis: {
            title: 'Líneas de código',
            minValue: 0
          },
          vAxis: {
            title: 'Proyecto'
          }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }

      function drawOcurrences() {
        var data = google.visualization.arrayToDataTable([
          ['Proyecto', 'Actualizaciones', { role: 'style' }],
          {% for ocurre in ocurrences %}
            ['{{ocurre.project}}', {{ocurre.value}}, '#337ab7']{% if not forloop.last %},{% endif %}
          {% endfor %}
          ]);

        var options = {
          title: 'Proyectos por número de actualizaciones',
          chartArea: {width: '50%'},
          hAxis: {
            title: 'Actualizaciones',
            minValue: 0
          },
          vAxis: {
            title: 'Proyecto'
          }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div_ocurrences'));

        chart.draw(data, options);
      }
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="/sqst/viewer">Home</a></li>
      {% for item in data %}
          <li role="presentation"><a href="{{item.project}}">{{item.project}}</a></li>
        {% endfor %}
    </ul>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-9">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="chart_div" style="width: 100%; height: 500px;"></div>  
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="chart_div_ocurrences" style="width: 100%; height: 500px;"></div>  
      </div>
    </div>
  </div>
</div>
{% endblock %}