{% load static %}
{% static "" as baseUrl %}
<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quality</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{baseUrl}}quality/css/quality.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart_tracks);
      google.charts.setOnLoadCallback(drawChart_summary);
      google.charts.setOnLoadCallback(drawChart_summary_percent);
      google.charts.setOnLoadCallback(drawChart_priorities);
      google.charts.setOnLoadCallback(drawChart_assignees);

      function drawChart_tracks() {
        var data = google.visualization.arrayToDataTable([
          ['Fecha', 'Issues Creados', 'Issues Cerrados'],
          {% for track in tracks %}
            [new Date({{track.date|date:"Y, m-1, d"}}),  {{track.created}}, {{track.closed}}]{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Track de Issues',
          legend: { position: 'bottom' },
          pointSize: 5,
          series: {
            0:{color:'#bc0505', pointShape: 'circle'},
            1:{color:'#378702', pointShape: 'circle'}
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_tracks'));

        chart.draw(data, options);
      }

      function drawChart_summary() {
        var data = google.visualization.arrayToDataTable([
          ['Estatus', 'Issues', { role: 'style' }],
          {% for status in summary %}
            ['{{status.status}}',  {{status.issues}}, '#337ab7']{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Issues no resueltos por status',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.BarChart(document.getElementById('curve_chart_summary'));

        chart.draw(data, options);
      }

      function drawChart_summary_percent() {
        var data = google.visualization.arrayToDataTable([
          ['Estatus', 'Porcentaje', { role: 'style' }],
          {% for status in summary %}
            ['{{status.status}}',  {{status.porcentaje}}, '#337ab7']{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Porcentaje de issues no resueltos por status',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.PieChart(document.getElementById('curve_chart_summary_percent'));

        chart.draw(data, options);
      }

      function drawChart_priorities() {
        var data = google.visualization.arrayToDataTable([
          ['Prioridad', 'Issues', { role: 'style' }],
          {% for p in priorities %}
            ['{{p.priority__description}}',  {{p.count}}, '#337ab7']{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Issues no resueltos por prioridad',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.BarChart(document.getElementById('curve_chart_priority'));

        chart.draw(data, options);
      }

      function drawChart_assignees() {
        var data = google.visualization.arrayToDataTable([
          ['Prioridad', 'Issues', { role: 'style' }],
          {% for a in assignees %}
            ['{{a.assignee__name}}',  {{a.count}}, '#337ab7']{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Issues no resueltos por asignado',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.BarChart(document.getElementById('curve_chart_assignee'));

        chart.draw(data, options);
      }

    </script>
  </head>
  <body style="background-color: #ccc;">
    <div class="container" style="background-color: white; margin-top: 1em; border-radius: 25px;">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="h2" style="text-align: center; font-weight: bolder; color: #337ab7">M&eacute;tricas de Aseguramiento de Calidad</div>
        </div>
      </div>
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/quality">Home</a></li> 
          <li><a href="/quality/{{customer.id}}/projects">{{customer.name}}</a></li>         
          <li class="active">{{project.name}}</li>
        </ol>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div id="curve_chart_tracks" style="width: 100%; height: 300px"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div id="curve_chart_summary" style="width: 100%; height: 300px"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div id="curve_chart_summary_percent" style="width: 100%; height: 300px"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div id="curve_chart_priority" style="width: 100%; height: 300px"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div id="curve_chart_assignee" style="width: 100%; height: 300px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; font-size: 11px;">&copy; 2017 Quality and Knowledge</div>
      </div>
    </div>
  </body>
</html>
