{% extends "quality/base.html" %}

{% block script %}
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});

  google.charts.setOnLoadCallback(drawChart_tracks);
  google.charts.setOnLoadCallback(drawChart_summary);
  google.charts.setOnLoadCallback(drawChart_summary_percent);
  google.charts.setOnLoadCallback(drawChart_priorities);
  google.charts.setOnLoadCallback(drawChart_assignees);

  function drawChart_tracks() {
    var data = google.visualization.arrayToDataTable([
      ['Fecha', 'Issues Creados', 'Issues Cerrados'],
      {% for track in tracks %}
        [new Date({{track.date|date:"Y, m-1, d"}}),  {{track.created}}, {{track.closed}}]{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]);

    var options = {
      title: 'Track de Issues',
      legend: { position: 'bottom' },
      pointSize: 5,
      series: {
        0:{color:'#bc0505', pointShape: 'circle'},
        1:{color:'#378702', pointShape: 'circle'}
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart_tracks'));

    chart.draw(data, options);
  }

  function drawChart_summary() {
    var data = google.visualization.arrayToDataTable([
      ['Estatus', 'Issues', { role: 'style' }],
      {% for status in summary %}
        ['{{status.status}}',  {{status.issues}}, '#337ab7']{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]);

    var options = {
      title: 'Issues abiertos por status',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.BarChart(document.getElementById('curve_chart_summary'));

    chart.draw(data, options);
  }

  function drawChart_summary_percent() {
    var data = google.visualization.arrayToDataTable([
      ['Estatus', 'Porcentaje', { role: 'style' }],
      {% for status in summary %}
        ['{{status.status}}',  {{status.porcentaje}}, '#337ab7']{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]);

    var options = {
      title: 'Porcentaje de issues abiertos por status',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.PieChart(document.getElementById('curve_chart_summary_percent'));

    chart.draw(data, options);
  }

  function drawChart_priorities() {
    var data = google.visualization.arrayToDataTable([
      ['Prioridad', 'Issues', { role: 'style' }],
      {% for p in priorities %}
        ['{{p.priority__description}}',  {{p.count}}, '#337ab7']{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]);

    var options = {
      title: 'Issues abiertos por prioridad',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.BarChart(document.getElementById('curve_chart_priority'));

    chart.draw(data, options);
  }

  function drawChart_assignees() {
    var data = google.visualization.arrayToDataTable([
      ['Prioridad', 'Issues', { role: 'style' }],
      {% for a in assignees %}
        ['{{a.assignee__name}}',  {{a.count}}, '#337ab7']{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]);

    var options = {
      title: 'Issues abiertos por asignado',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.BarChart(document.getElementById('curve_chart_assignee'));

    chart.draw(data, options);
  }

</script>

{% endblock %}

{% block content %}

<div class="row">
  <ol class="breadcrumb">
    <li><a href="/quality">Home</a></li> 
    <li><a href="/quality/{{customer.id}}/projects">{{customer.name}}</a></li>         
    <li class="active">{{project.name}}</li>
  </ol>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div id="curve_chart_tracks" style="width: 100%; height: 300px"></div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div id="curve_chart_summary" style="width: 100%; height: 300px"></div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div id="curve_chart_summary_percent" style="width: 100%; height: 300px"></div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div id="curve_chart_priority" style="width: 100%; height: 300px"></div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div id="curve_chart_assignee" style="width: 100%; height: 300px"></div>
  </div>
</div>

{% endblock %}