{% extends "quality/base.html" %}

{% block content %}

<div class="row">
  <ol class="breadcrumb">          
    <li class="active">Home</li>
  </ol>
</div>
<div class="row">
  {% for customer in customers %}
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{customer.name}}</h3></div>
        <div class="panel-body" style="text-align: center;">
          <a href="./{{customer.id}}/projects"><img src="{{baseUrl}}quality/img/customer/{{customer.logo}}" width="150" height="50" /></a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}