{% extends "quality/base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="h3" style="text-align: center; font-weight: bolder; color: #337ab7">Import Issues Process</div>
  </div>
</div>
<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="disabled"><a href="#">Upload Csv <span class="glyphicon glyphicon-open-file" style="font-size:3em;"></span></a></li>
  <li role="presentation" class="disabled"><a href="#">Import <span class="glyphicon glyphicon-import" style="font-size:3em;"></span></a></li>
  <li role="presentation" class="active"><a href="#">Process <span class="glyphicon glyphicon-refresh" style="font-size:3em;"></span></a></li>
  <li role="presentation" class="disabled"><a href="#">Finish <span class="glyphicon glyphicon-ok" style="font-size:3em;"></span></a></li>
</ul>
<div class="panel panel-default">
<div class="panel-body">        
    <table class="table">
      <tr><th>File</th><th>Source</th><th>Date Loaded</th><th>Imported rows</th><th>Date Imported</th><th>&nbsp;</th></tr>
      {% for p in processes %}
        <tr><td>{{p.file}}</td><td>{{p.source}}</td><td>{{p.dateLoaded}}</td><td>{{p.count}}</td><td>{{p.dateImported}}</td>
        <td>
          <form method="POST">        
            {% csrf_token %}
            <input type="hidden" name="process_id" value="{{p.id}}" />
            <input type="submit" class="btn btn-primary" value="Process" />
          </form>
        </td>
        </tr>
      {% endfor %}
    </table>
</div>
</div>

{% endblock %}