{% extends "quality/base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="h3" style="text-align: center; font-weight: bolder; color: #337ab7">Import Issues Process</div>
  </div>
</div>
<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="#">Upload Csv <span class="glyphicon glyphicon-open-file" style="font-size:3em;"></span></a></li>
  <li role="presentation" class="disabled"><a href="#">Import <span class="glyphicon glyphicon-import" style="font-size:3em;"></span></a></li>
  <li role="presentation" class="disabled"><a href="#">Process <span class="glyphicon glyphicon-refresh" style="font-size:3em;"></span></a></li>
  <li role="presentation" class="disabled"><a href="#">Finish <span class="glyphicon glyphicon-ok" style="font-size:3em;"></span></a></li>
</ul>
<div class="panel panel-default">
<form class="form panel-body" method="POST" enctype="multipart/form-data">        
    <div class="form-group col-sm-12 col-md-4 col-lg-4">
      <label for="origen">Origen</label>
      {% csrf_token %}
      <select name="origen" class="form-control" required="true">
        <option value="">- Seleccionar -</option>
        <option value="local">Local</option>
        <option value="daimler">Daimler</option>
      </select>
    </div>                       
    <div class="form-group col-sm-12 col-md-4 col-lg-4">
      <label for="file">Archivo CSV</label>
      <input name="file" type="file" required="true" class="form-control" />
    </div>                          
    <div class="form-group col-sm-12 col-md-4 col-lg-4">            
      <input name="btn" type="submit" class="btn btn-primary" value="Upload" style="margin-top:1.8em;" />
    </div>
</form>
</div>

{% endblock %}